@import '../../scss/variables';

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  &_wrapper_button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;

    img {
      width: 134px;
      height: 134px;
      margin-bottom: 13px;
    }
  }
}

@media (max-width: 639px) {
  .success_container {
    width: 100%;
    position: relative;
  }
  .success_wrapper_button {
    position: absolute;
    bottom: -246px;
    width: 100%;
  }
}