@import 'variables';
@import 'libs/normalize';
@import 'all';

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 768px;
  height: 700px;
  padding: 16px 20px;
  background: #F9FAFB;
  margin: 16px;
}

.message {
  color: red;
  margin-bottom: 0.5rem;
}

.is-danger {
  border: 1px solid red;
  background-color: indianred;
}