@import 'variables';
@import 'libs/normalize';
@import 'all';

.app {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  width: 768px;
  height: 700px;
  padding: 16px 20px;
  background: #F9FAFB;
  margin: 16px;
}

.form {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 16px;
  padding-left: 64px;
  padding-right: 64px;

  &__title {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 8px;

    &__desc {
      font-family: 'Inter', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 24px;
    }
  }
}

.message {
  color: red;
  margin-bottom: 0.5rem;
}


.group {
  display: flex;

  &__title {
    width: 50%;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
  }

  &__radio {
    width: 50%;
  }
}

.input {
  display: block;
  width: 50%;
  height: 32px;
  padding: 7px 8px;
  background: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  outline: none;
}

input[type='radio'],
label {
  cursor: pointer;
}

input[type='radio'] {
  position: relative;
  height: 14px;
  width: 14px;
  appearance: none;
  outline: none;
}

input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid black;
}

input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.input_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  color: white;
}

.input_checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.input_checkbox+label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000000;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.input_checkbox:checked+label::before {
  border-color: #000000;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23000' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.form_result {
  display: flex;

  &__label {
    width: 50%;
  }

  &__sum {
    width: 50%;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
  }
}

.form_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.is-danger {
  border: 1px solid red;
  background-color: indianred;
}

.button {
  display: block;
  background-color: blue;
  color: white;
  padding: 10px 10px;
  width: 100px;
}

.button:hover {
  background-color: darkblue;
}

.reverse {
  font-family: 'Inter', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}